/* General body styles */
body {
    font-family: 'Arial', sans-serif;
  

    background: linear-gradient(to right, #2c3e50, #4ca1af);




    /* background-color: gray; */
    /* background-color: #f6b619; */
    transition: background-color 0.3s, color 0.3s;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-evenly; /* Center navbar items horizontally */
    align-items: center; /* Center navbar items vertically */
    width: 100%; /* Full width */
}

.navbar-collapse {
    text-align: center; /* Center collapsed navbar items */
}

.navbar-nav {
    display: flex;
    margin: 0;
    padding: 20px;
}

.nav-link {
    color: #212529;
    font-size: large;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid transparent;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #e2e6ea;
}

.nav-link.active {
    background-color: #0d6efd;
    color: white;
    border: 1px solid #0d6efd;
}

/* Navbar icon */
.nav-item  {
    font-size: large;
    margin-top: 30px;
    cursor: pointer;
}

/* Navbar brand image */
.navbar-brand img {
    max-height: 50px;
}

/* Tab content visibility */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Dark mode toggle icon */
.fa-moon-o {
    padding: 10px;
    cursor: pointer;
}

/* Hover effect on profile image */
#profile-img:hover {
    width: 300px;
    height: 300px;
    transition: width 2s, height 2s;
}

/* Profile image styles */
img.rounded-circle {
    background-color: #f6b619;
}

/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .nav-link {
    background-color: #333;
    color: white;
}

.dark-mode .nav-link:hover {
    background-color: #444;
}

.dark-mode .nav-link.active {
    background-color: #0d6efd;
    color: white;
}

/* Dark mode text and background changes for sections */
.dark-mode .tab-content {
    background-color: #121212;
    color: white;
}

/* Custom styles for navbar links */
.nav-tabs .nav-link {
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px 20px;
    background-color: #f8f9fa;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid transparent;
}

.nav-tabs .nav-link:hover {
    background-color: #e2e6ea;
    color: #000;
}

.nav-tabs .nav-link.active {
    background-color: #0d6efd;
    color: white;
    border: 1px solid #0d6efd;
}
