body {
    font-family: 'Arial', sans-serif;
}
/* Center the navbar */
.navbar {
    display: flex;
    justify-content: space-evenly; /* Align navbar items horizontally */
    align-items: center; /* Align navbar items vertically */
    width: 100%; /* Ensure the navbar takes full width */
}

/* Optional: Center the navbar-collapse if it's in the collapsed state */
.navbar-collapse {
    text-align: center; /* Center the collapsed navbar items */
}

/* Optional: Style for navbar items */
.navbar-nav {
    display: flex;
     /* Center navbar items */
    margin: 0; /* Remove default margin */
    padding: 20px;
}

.nav-link {
    color: blue;
    font-size: large;

}
a{
    margin: 20px;
    padding: 20px;
}

.nav-item i{
    border-width: 2px;
    margin-top: 30px;
    font-size: large;
}

/* Optional: Remove the left margin of the navbar-toggler */
.navbar-toggler {
    margin-left: auto;
    margin-right: auto;
}


.navbar-brand img {
    max-height: 50px;
}

header h1 {
    font-size: 2.5rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}


  
  .dark-mode {
    background-color: black;
    color: white;
  }